<div id="form-container" action="#" method="post" onsubmit="return validation();">
 		<div class="row">
		<div class="col-4">
		
		<div class="input-group mb-3">
  <span class="input-group-text" id="nombres">Nombres</span>
  <input type="text" class="form-control" name="nombres" placeholder="Nombres" aria-label="nombres" aria-describedby="nombres">
</div>

		
		</div>
		<div class="col-4">
		<div class="input-group mb-3">
  <span class="input-group-text" id="paterno">Apellido Paterno</span>
  <input type="text" class="form-control" name="paterno" placeholder="Paterno" aria-label="paterno" aria-describedby="paterno">
</div>
		</div>
		<div class="col-4">
		<div class="input-group mb-3">
  <span class="input-group-text" id="materno">Apellido Materno</span>
  <input type="text" class="form-control" name="materno" placeholder="Materno" aria-label="materno" aria-describedby="materno">
</div>
		</div>
		</div>
		<div class="row">
		<div class="col-6"><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Grado
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
   
<?php echo $grados;?> 
 </ul>
</div></div>
		<div class="col-6"></div>
		</div>
		
 </div>
<div class="container-fluid">
   
  
</div>