
<style>.toast {
	background: #091155 !important;
	z-index: 123456;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em !important;
	/* position: absolute !important; */
	top: -30vh !important;
}

.skills{
	display:none;
}
</style>
<div aria-live="polite" aria-atomic="true" class="d-nonce d-flex justify-content-center align-items-center" style="position:relative">

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0;">
  <div class="toast-header">
    <strong class="mr-auto">ATENCION</strong>
  </div>
  <div class="toast-body">
    <?php echo $toast_msg;?>
  </div>
</div>
</div>

<script>
jQuery().ready(function($){
$('.toast').toast('show');	
})

</script>